[Unit]
Description=Whisper Daemon

[Service]
ExecStart=/usr/bin/python3 /home/wnchstrr/.local/bin/whisper-daemon.py
Restart=on-failure

[Install]
WantedBy=default.target
